<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  
  <connectionStrings>
    <add name="DBconnectionString" connectionString="Data Source=NITIN-PC\SQLSERVER;Initial Catalog=AppDataBase;Persist Security Info=True;User ID=sa;Password=sa@123"/>
  </connectionStrings>
  
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DTCBusPass.Services.UserInteractionAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="DTCBusPass.Services.UserInteraction">
        <endpoint address="" behaviorConfiguration="DTCBusPass.Services.UserInteractionAspNetAjaxBehavior"
          binding="webHttpBinding" contract="DTCBusPass.Services.UserInteraction" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
